// fonts
$primary-font: "Roboto", sans-serif;
$secondary-font: "Fira Sans", sans-serif;

// colors
$primary-color: #0000fe;
$secondary-color:#ff5520;
$text-color: #4f4f4f;
$title-color: #000000;
$helper-color: #555555;
$icon-color:#5a5a5a;