body{
  overflow-x: hidden;
}
*{
    box-sizing: border-box;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $title-color;
  font-weight: 700;
  font-family: $secondary-font;
}
.owl-carousel{
  .owl-item {
    opacity: 0;
    transition: opacity 500ms;
  }
  .owl-item.active {
    opacity: 1;
  }
  .owl-stage-outer {
    overflow: visible;
  }
  .owl-dots{
   text-align: center;
    margin-top: 20px;
    .owl-dot{
      width: 28px;
      height: 5px;
      margin: 0px 5px;
      cursor: pointer;
      border-radius: 30%;
      display: inline-block;
      background-color: #ececed;
      transition: 0.3s all ease-in-out;
      
        outline: none;
      
    }
    .owl-dot.active{
      width: 38px;
      background-color: #0000fe;
    }
  }
  
}