#about-testimonials {
    padding: 105px 0px 100px;
    overflow: hidden;
    .testimonials-container {
      position: relative;
      .test-title {
        text-align: center;
        .main-title {
          opacity: 0.1;
          color: #53536c;
          line-height: 1;
          font-size: 100px;
          font-weight: 900;
          margin-bottom: 0;
          text-align: center;
          z-index: 1;
          position: absolute;
          left: 0;
          right: 0;
          top: -67px;
        }
        span {
          color: $primary-color;
          font-size: 18px;
          font-weight: 700;
          font-family: $primary-font;
        }
        h2 {
          color: #000;
          font-size: 40px;
          font-weight: 700;
          line-height: 1.125;
          padding: 15px 0px 20px;
        }
      }
  
      .owl-card {
        overflow: hidden;
        border-radius: 10px;
        background-color: #fff;
        padding: 40px 30px 25px;
        transition: 0.3s all ease-in-out;
        box-shadow: 0px 12px 35px 0px rgba(12, 12, 12, 0.062);
  
        &:hover {
          transform: translateY(-20px);
          box-shadow: 0px 36px 35px 0px rgba(12, 12, 12, 0.2);
          .brackets {
            color: $secondary-color;
          }
        }
      }
  
      .brackets {
        top: 15px;
        right: 15px;
        position: absolute;
        color: #efefef;
        line-height: 1;
        font-size: 30px;
        transition: 0.3s all ease-in-out;
      }
      .test-text {
        h3 {
          font-size: 18px;
          font-weight: 700;
          color: #0000fe;
          padding-bottom: 15px;
        }
        p {
          color: #666666;
        }
      }
      .person {
        padding-top: 20px;
        display: flex;
        img {
          width: 65px;
          height: 65px;
          overflow: hidden;
          margin-right: 12px;
          border-radius: 100%;
          border: 3px solid $primary-color;
        }
        .name {
          h4 {
            a {
              color: #000;
              font-size: 14px;
              font-weight: 700;
              text-decoration: none;
            }
          }
          span {
            color: #888888;
            font-size: 14px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 643px) {
    #about-testimonials {
      .testimonials-container {
        .test-title  {
          .main-title {
           font-size: 60px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 390px) {
    #about-testimonials {
      .testimonials-container {
        .test-title  {
          .main-title {
           font-size: 40px;
          }
        }
      }
    }
  }
  