.banner-search-select {
  top: -63px;
  z-index: 1;
  position: relative;
  margin-bottom: -175px;
  .container {
    .banner-search-form {
      background-color: #fff;
      display: inline-block;
      border-radius: 10px;
      padding: 20px 20px 12px;
      position: relative;
  
    .banner-search-shape1 img {
      top: -70px;
      left: -70px;
      z-index: -1;
      position: absolute;
    }
    .banner-search-shape2 {
      bottom: -70px;
      right: -70px;
      z-index: -1;
      position: absolute;
    }
  }
    .select-option-wrap {
      .banner-select-option {
        color: #000;
        border: none;
        height: auto;
        font-size: 18px;
        font-weight: 700;
        line-height: auto;
        font-family: $secondary-font;
        .nice-select{
          border: none;
          font-size: 18px;
          font-family: $secondary-font;
          &::after{
            top: 0px;
    right: 20px;
    height: auto;
    border: none;
    margin-top: 0;
    font-size: 12px;
    content: "";
    font-weight: 900;
    transform: rotate(0);
    font-family: "Font Awesome 5 Free";
}
          }
        }
      }

      button {
        outline: 0;
        color: #fff;
        height: 45px;
        width: 160px;
        border: none;
        font-weight: 700;
        border-radius: 5px;
        overflow: hidden;
        background-color: #0000fe;
        position: relative;
        z-index: 1;
        &::after {
          top: 0;
          width: 0;
          left: -40%;
          content: "";
          z-index: -1;
          height: 100%;
          position: absolute;
          transform: skew(50deg);
          transition-duration: 0.6s;
          transform-origin: top left;
        }
        &:hover::after {
          height: 100%;
          width: 150%;
          background-color: $secondary-color;
        }
      }
    }
  }
  .select-apply {
    color: #000;
    font-size: 15px;
    padding-top: 30px;

    a {
      font-family: $primary-font;
      color: $primary-color;
      font-weight: 700;
    }
  }

 
  @media only screen and (max-width:768px){
    .banner-search-select{
      .container{
        .banner-search-form{
          .banner-search-shape1{
            img{
              display: none;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width:768px){
    .banner-search-select{
      .container{
        .banner-search-form{
          .banner-search-shape2{
            img{
              display: none;
            }
          }
        }
      }
    }
  }