// navigation bar
.navbar {

    .navbar-brand {
      margin-right: 115px;
      float: left !important;
    }
    // include cart and login
    .navbar-nav {
      margin: 0 auto;
    }

    .process {
      display: flex;
      list-style: none;
      float: right !important;
      padding-top: 15px;
      padding-right: 80px;
      span {
        color: #d9d9d9;
        font-weight: bold;
        padding: 0 15px;
      }
      .cart {
        a {
          color: $icon-color;
        }
      }
      .user {
        a {
          color: $icon-color;
        }
      }
      & {
        a {
          transition: 0.7s;
        }

        .cart {
          a:hover {
            color: $primary-color;
          }
        }
        .user {
          a:hover {
            color: $primary-color;
          }
        }
      }
    }
    .navbar-nav {
      .nav-item {
        margin-right: 75px;
        position: relative;
        &::before {
          left: 9px;
          top: 36px;
          width: 0px;
          height: 5px;
          content: "";
          position: absolute;
          border-radius: 30%;
          background-color: #0000fe;
          transition: 0.3s all ease-in-out;
        }

        // for add symbol +
        &.has-children {
          position: relative;
          &:hover::before {
            width: 22px;
          }

          &::after {
            color: $secondary-color;
            content: "+";
            padding-left: 2px;
            font-weight: bolder;
            top: 8px;
            position: absolute;
            right: -7px;
          }
          &:hover {
            .dropdown {
              position: absolute;
              top: 46px;
              left: 7px;
              opacity: 1;
              visibility: visible;
            }
          }
        }
        //sub menu
        .dropdown {
          position: absolute;
          top: 70px;
          left: 7px;
          list-style: none;
          z-index: 1000;
          padding-inline-start: 0;
          width: 200px;
          height: auto;
          text-align: left;
          box-shadow: 0 5px 10px 0 rgba(83, 82, 82, 0.1);
          border-bottom: 2px solid $primary-color;
          opacity: 0;
          transition: all 0.3s ease-in-out;
          background-color: white;
          visibility: hidden;

          // sub menu items
          li {
            &:hover {
              background-color: $primary-color;
            }
            a {
              text-decoration: none;
              width: 100%;
              color: #343434;
              display: block;
              font-size: 14px;
              padding: 10px 25px;
              position: relative;
              font-weight: 700;
              background-color: transparent;
              font-family: $primary-font;
              border-bottom: 1px solid #d9d9d9;
              transition: 0.3s all ease-in-out;
            }

            &:hover a {
              color: white;
            }
          }
        }

        &:hover::before {
          width: 22px;
        }

     
      }

      .nav-link {
        color: #000000;
        font-weight: 600;
        position: relative;
        font-family: $primary-font;
        font-size: 1 rem;
        line-height: 1.625;
        transition: 0.3s all ease-in-out;
        // little line under each menu items

        &::after {
          top: 35px;
          left: 33px;
          width: 0px;
          content: "";
          height: 5px;
          position: absolute;
          border-radius: 100%;
          background-color: #0000fe;
        }
        &:hover::after {
          width: 5px;
        }
      }
    }
  
}

@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
