// navigation bar
.header-main {
  .navbar {
    //navbar fixed

    //nav logo
    .navbar-brand {
      margin-right: 115px;
      float: left !important;
    }

    .navbar-nav {
      margin: 0 auto;
    }
    // include cart and login
    .process {
      display: flex;
      list-style: none;
      float: right !important;
      padding-top: 15px;
      padding-right: 80px;
      span {
        color: #d9d9d9;
        font-weight: bold;
        padding: 0 15px;
      }
      .cart {
        a {
          color: $icon-color;
        }
      }
      .user {
        a {
          color: $icon-color;
        }
      }
      & {
        a {
          transition: 0.7s;
        }

        .cart {
          a:hover {
            color: $primary-color;
          }
        }
        .user {
          a:hover {
            color: $primary-color;
          }
        }
      }
    }
    .navbar-nav {
      .nav-item {
        margin-right: 75px;
        position: relative;
        &::before {
          left: 9px;
          top: 36px;
          width: 0px;
          height: 5px;
          content: "";
          position: absolute;
          border-radius: 30%;
          background-color: #0000fe;
          transition: 0.3s all ease-in-out;
        }

        // for add symbol +
        &.has-children {
          position: relative;
          &:hover::before {
            width: 22px;
          }

          &::after {
            color: $secondary-color;
            content: "+";
            padding-left: 2px;
            font-weight: bolder;
            top: 8px;
            position: absolute;
            right: -7px;
          }
          &:hover {
            .dropdown {
              position: absolute;
              top: 46px;
              left: 7px;
              opacity: 1;
              visibility: visible;
            }
          }
        }
        //sub menu
        .dropdown {
          position: absolute;
          top: 70px;
          left: 7px;
          list-style: none;
          z-index: 1000;
          padding-inline-start: 0;
          width: 200px;
          height: auto;
          text-align: left;
          box-shadow: 0 5px 10px 0 rgba(83, 82, 82, 0.1);
          border-bottom: 2px solid $primary-color;
          opacity: 0;
          transition: all 0.3s ease-in-out;
          background-color: white;
          visibility: hidden;

          // sub menu items
          li {
            &:hover {
              background-color: $primary-color;
            }
            a {
              text-decoration: none;
              width: 100%;
              color: #343434;
              display: block;
              font-size: 14px;
              padding: 10px 25px;
              position: relative;
              font-weight: 700;
              background-color: transparent;
              font-family: $primary-font;
              border-bottom: 1px solid #d9d9d9;
              transition: 0.3s all ease-in-out;
            }

            &:hover a {
              color: white;
            }
          }
        }

        &:hover::before {
          width: 22px;
        }
      }

      .nav-link {
        color: #000000;
        font-weight: 600;
        position: relative;
        font-family: $primary-font;
        font-size: 1 rem;
        line-height: 1.625;
        transition: 0.3s all ease-in-out;
        // little line under each menu items

        &::after {
          top: 35px;
          left: 33px;
          width: 0px;
          content: "";
          height: 5px;
          position: absolute;
          border-radius: 100%;
          background-color: #0000fe;
        }
        &:hover::after {
          width: 5px;
        }
      }
    }
  }
  // mobile version
  .mobile-btn {
    font-size: 30px;
    cursor: pointer;
    padding-top: 13px;
    color: #e3002a;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
  }
  .mob-menu {
    .overlay {
      top: 0;
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 99;
      right: 0%;
      height: 120vh;
      //  display: none;
      opacity: 0;
      visibility: hidden;
      background-color: rgba(0, 0, 0, 0.9);
      transition: all 0.5s ease-in-out;

      .mob-content {
        top: 0px;
        bottom: 0;
        height: 100vh;
        z-index: 10000;
        position: fixed;
        width: 310px;
        overflow-y: scroll;
        background-color: #000;
        padding: 50px 35px 35px 35px;
        right: 0px;
        transition: all 0.7s ease-out;
        visibility: hidden;
        transform: translateX(100%);
        .mob-close {
          color: #d60606;
          cursor: pointer;
          top: 15px;
          left: 15px;
          font-size: 20px;
          position: absolute;
        }
        .mob-logo {
          width: 160px;
          margin: 0 auto;
          margin-bottom: 30px;
          a {
            color: inherit;
            text-decoration: none;
          }

          img {
            max-width: 100%;
            height: auto;
          }
        }
      }
      .mob-nav {
        width: 100%;
        display: block;
        ul {
          display: block;

          li {
            width: 100%;
            display: block;
            transition: 0.3s all ease-in-out;
            position: relative;
            a {
              width: 100%;
              color: #fff;
              display: block;
              font-weight: 600;
              font-size: 14px;
              padding: 10px 30px 10px 0;
              text-transform: capitalize;
              border-bottom: 1px solid rgba(78, 78, 78, 0.41);
              text-decoration: none;
              font-family: $primary-font;
            }
            .dropdown-menu {
              border: none;
              display: none;
              transition: none;
              box-shadow: none;
              padding: 5px 0px;
              width: 100%;
              background-color: transparent;

              li {
                width: 100%;
                color: #fff;
                display: block;
                font-weight: 600;
                font-size: 14px;
                padding: 10px 30px 10px 0;
                text-transform: capitalize;
                cursor: pointer;

                a {
                  width: 100%;
                  color: #fff;
                  font-weight: 600;
                  font-size: 14px;
                  padding: 10px 30px 10px 0;
                  text-transform: capitalize;
                  transition: 0.4s;
                  font-family: $primary-font;
                  text-decoration: none;
                  line-height: 0;
                  &:hover {
                    color: #e3002a;
                  }
                }
              }
            }

            .nav-dropdown {
              color: #9397a7;
              position: absolute;
              top: 3px;
              right: 0;
              height: 30px;
              padding: 5px 10px;
            }
          }
        }
      }
    }
  }
}

// fixed navbar
.header-fixed {
  position: fixed;
  width: 100%;
  z-index: 9999999999999;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-timing-function: ease;
  transition: 0.3s all ease-in-out;
  box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}
//easy-open-overlay
.show-mobile-menu {
  height: 100%;
  overflow: hidden;
  .header-main {
    .navbar {
      .mob-menu {
        .overlay {
          opacity: 1;
          visibility: visible;
          .mob-content {
            visibility: visible;
            transform: translateX(0);
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
@media only screen and (max-width: 990px) {
  .header-main {
    .navbar {
      .mobile-btn {
        display: block;
      }
    }
  }
}
