#testimonials {
    padding: 105px 0px 100px;
  .testimonials-container {
      
    .test-title {
        position: relative;
      text-align: center;
      .main-title {
        opacity: 0.1;
        color: #53536c;
        line-height: 1;
        font-size: 100px;
        font-weight: 900;
        margin-bottom: 0;
        text-align: center;
        z-index: 1;
        position: absolute;
        left: 0;
        right: 0;
        top: -67px;
      }
      span {
        color: $primary-color;
        font-size: 18px;
        font-weight: 700;
        font-family: $primary-font;
      }
      h2 {
        color: #000;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.125;
        padding: 15px 0px 20px;
      }
    }
  }
}
